
body {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.fish {
    width: 150px;
    height: 100px;
    transform: rotateZ(180deg);
    animation-name: swim;
    position: relative;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.head {
    width: 150px;
    height: 120px;
    background-color: #549de3;
    border-radius: 50%
}

.fin {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 90px solid  #549de3;
    border-bottom: 50px solid transparent;
    position: relative;
    top: 1.1em;
    left: -2em;
}

.colorbox {
    width: 70vw;
    height: 200px;
    background-color: antiquewhite;
    position: fixed;
    top: 40%;
    left: 15%;
    text-align: center;
    display: none;
}

.colorintro {
    background-color: antiquewhite;
    padding: 1em;
    margin: 1em;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    border-radius: 8px;
}

.colorintro p {
    padding: 0%;
    margin: 0;
}

@keyframes swim {
    from {left: 5%;
        }
    to {left: 85%;}
    0% {transform:rotate(0deg);
        margin-top:5px;}
    50% {transform:rotate(3deg);
        margin-top:15px;}
    75% {transform:rotate(-2deg);}
    100%{transform:rotate(0deg);
        margin-top:5px;}
}
