div.color_pallete{
    display: grid;
    grid-template-columns: 18em auto auto;
    grid-gap: 1em;
    justify-content: center;
    margin: 8em;
    margin-top: 5em;

}
div.color {
    width: 15em;;
    height: 15em;;
}

div.color:first-child() {
   
    background: #82BCF4;
    
}

div.color:nth-child() {
   
    background: #9AD2F5;
   
}

div.color:nth-child() {
    background: #16314B;
    
}

div.color:nth-child() {
   
    background: #FFFFFF;
    
}

img {
    max-width: 100%;
    max-height: 100%;
}