div {
    display: inline-block;
    margin: 10px;
}



#circle1 {
    width: 100px;
    height: 100px;
    background: #549DE3;
    border-radius: 50%;
    text-align: center;
}

#circle2 {
    width: 100px;
    height: 100px;
    background: #82BCF4;
    border-radius: 50%;
    text-align: center;
}

#circle3 {
    width: 100px;
    height: 100px;
    background: #9AD2F5;
    border-radius: 50%;
    text-align: center;
}

#circle4 {
    width: 100px;
    height: 100px;
    background: #16314B;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
}

#circle5 {
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #82BCF4;
    text-align: center;
}

.p1{
    font-family: 'EB Garamond', serif;
}