div {
    margin: 10px;
    position: relative;
    padding-inline-start: 80px;
    padding-inline-end: 10px;
    position: inherit;
}



#circle1 {
    width: 100px;
    height: 100px;
    background: #549DE3;
    border-radius: 50%;
    text-align: center;
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

#circle2 {
    width: 100px;
    height: 100px;
    background: #82BCF4;
    border-radius: 50%;
    text-align: center;
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

#circle3 {
    width: 100px;
    height: 100px;
    background: #9AD2F5;
    border-radius: 50%;
    text-align: center;
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

#circle4 {
    width: 100px;
    height: 100px;
    background: #16314B;
    border-radius: 50%;
    text-align: center;
    color: #FFFFFF;
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

#circle5 {
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #82BCF4;
    text-align: center;
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

img {
    max-width: 100%;
    max-height: 100%;
}