div {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-60px;
    margin-left:-50px;
}
#color1 {
    width: 100px;
    height: 100px;
    background: #549DE3;
    text-align: center;
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

#color2 {
    width: 100px;
    height: 100px;
    background: #82BCF4;
    text-align: center;
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

#color3 {
    width: 100px;
    height: 100px;
    background: #9AD2F5;
    text-align: center;
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

#color4 {
    width: 100px;
    height: 100px;
    background: #16314B;
    text-align: center;
    color: #FFFFFF;
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

#color5 {
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border: 2px solid #82BCF4;
    text-align: center;
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

img {
    max-width: 100%;
    max-height: 100%;
}