.body {
    display: flex;
}


.headingcolor, .h2color {
    text-align: center;
    color: black;
}

.colorone, .colortwo, .colorthree, .colorfour, .colorfive {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color:  #549de3;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.colorone p {
    text-align: center;
}

.colorsamples {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.colorsamples img {
    margin: 1em;
    padding: 1em;
}

.colorone {
    background-color:  #549de3;
}

.colortwo {
    background-color:  #82bcf4;
}


.colorthree {
    background-color:  #82bcf4;
}

.colorfour {
    background-color:  #16314b;
}

.colorfive {
    background-color:  #fff;
    color: #16314b;
}

.lastpage{
    background-color: #82bcf4;
}

.backbtn {
    position: fixed;
    bottom: 2%;
    left: 47%;
    font-weight: bold;
    background-color: #549de3;
    color: white;
    border-radius: 4px;
    padding: .3em 1em;
}