h1 {
    text-align: center;
}


h4 {
    font-family: 'Garamond';
}


/* @media only screen and (max-width: 600px) {
    .color_palette {
        margin: 0 auto;
    } */


/********************************************************************************************
*                                                                                           *
*                                         Colour Palette                               *
*********************************************************************************************/
/* 
.color_palette {
    display: grid;
    grid-template-columns: 1fr 1fr;

} */

.color_palette {
    
    
}

.circle {
    display: block;;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    margin: 3em;
}

/* 1st colour */

.blue1 {
    background: #549DE3;
}

.color1, .color3, .color5 {
    display: flex;
    position: relative;
    justify-content: left;
    align-items: center;
}


/* 2nd colour */


.blue2 {
    background: #82BCF4;
}

.color2, .color4 {
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;

}

/* 3rd colour */
.blue3 {
    background: #9AD2F5;
}


/* 4th colour */
.blue4 {
    background: #16314B;
}

/* 5th colour */
.white {
    background:#FFFFFF;
    border: 1px solid #16314B;
}

/* .color2 {
    width: 100px;
    height: 100px;
    background: #82BCF4;
    text-align: center;
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
} */

/* .color3 {
    width: 100px;
    height: 100px;
    background: #9AD2F5;
    text-align: center;
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

.color4 {
    width: 100px;
    height: 100px;
    background: #16314B;
    text-align: center;
    color: #FFFFFF;
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

.color5 {
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border: 2px solid #82BCF4;
    text-align: center;
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

img {
    max-width: 100%;
    max-height: 100%;
} */