/**********************************************************  
**********************   PAGE OVERALL   **********************  
**********************************************************/

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

/**********************************************************  
**********************   PAGE GRID   **********************  
**********************************************************/

  
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
} 
  
.header { grid-area: 1 / 1 / 2 / 6; }
.sidebar1 { grid-area: 2 / 1 / 4 / 3; }
.content { grid-area: 2 / 3 / 4 / 6; }
.content2 { grid-area: 4 / 1 / 6 / 4; }
.sidebar2 { grid-area: 4 / 4 / 6 / 6; }

.flat_logo, .gradient_logo {
    display: flex;
}

.featured__item__img {
    width: 100%;
  height: auto;
  background-size: contain;
}
  
/**********************************************************  
**********************   PAGE BODY   **********************  
**********************************************************/

.our_logo_section > .image {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: brown;
}