/***********************************************  PAGE GRID  ***********************************************/

body {
    display: grid;
    justify-content: center;
    align-items: center;
}

/***********************************************  PAGE GRID  ***********************************************/

  
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
} 
  
.header { grid-area: 1 / 1 / 2 / 6; }
.sidebar1 { grid-area: 2 / 1 / 4 / 3; }
.content { grid-area: 2 / 3 / 4 / 6; }
.content2 { grid-area: 4 / 1 / 6 / 4; }
.sidebar2 { grid-area: 4 / 4 / 6 / 6; }

.flat_logo, .gradient_logo {
    display: flex;
}

.featured__item__img {
    width: 100%;
  height: auto;
  background-size: contain;
}
  

/*********************************************** FULL WIDTH HEADER  ***********************************************/

header.fullwidth_header
{
 height: 100vh;
 background-image: url("https://unsplash.com/photos/2ueUnL4CkV8");
 /* flex-box thing */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-size: cover; 
 margin-bottom: 30px;
}

.fullwidth_header
{
 margin: 0px;
 padding: 0px;
 font-family: monospace;
}

#down
{
 position: absolute;
 top:85vh;
 padding: 20px;
 font-size: 2.5em;
}

#down:hover
{
 cursor: pointer;
 background-color: #eee;
 opacity: 0.8;
}

.article__figure{
    width: 100px;
    height: 100px;

}

